<img id="{{widget.id}}-edit" data-id="{{widget.id}}" class="icon-edit editActive" src="/assets/images/homestickers/icon_edit.gif" style="display: none">
<div class="edit-menu" id="{{widget.id}}-menu">
   <b>Settings</b>
   <select class="selectSkin" data-id="{{widget.id}}">
      <option disabled selected>Choose</option>
      <option value="default_skin">Default</option>
      <option value="bubble_skin">Speech bubble</option>
      <option value="metal_skin">Metal</option>
      <option value="notepad_skin">Notepad</option>
      <option value="note_skin">Sticky Note</option>
      <option value="golden_skin">Golden</option>
      <option value="hcm_skin">HC Machine</option>
   </select>
   <button class="deleteElement" data-type="{{widget.type}}" data-id="{{widget.id}}">Remove</button>
</div>