<div class="page-content">
    <div class="right-side">
        <aside class="default-section">
            <div class="profile-header">
                <div class="header-content flex-container flex-vertical-center">
                    <img src="{{site.fpath}}?figure={{data.player.look}}&direction=2&gesture=sml&size=l" alt="{{data.player.username}}" class="pixelated">
                    <div class="header-details">
                        <div class="header-title">{{data.player.username}}</div>
                        <div class="header-description">{{data.player.motto}}</div>
                    </div>
                </div>
            </div>
            <div class="aside-content">
                <div class="profile-content">
                    <div class="details-container register">{{site.shortname}} {{locale.since}} <b>{{data.player.account_created|date("d-m-Y")}}</b></div>
                    {% if data.player.settings.hide_online == 0 or 'housekeeping' in permissions %}
                        <div class="details-container status">{{locale.currently}} <strong class="{% if data.player.online == 0 %}offline{% set status = 'offline' %}{% else %}online{% set status = 'online' %}{% endif %}">{{status}}</strong></div>
                    {% else %}
                        <div class="details-container status">{{locale.currently}} <strong class="offline">offline</strong></div>
                    {% endif %}

                    {% if data.player.settings.hide_last_online == 0 or 'housekeeping' in permissions %}
                    <div class="details-container last_login">{% if data.player.last_online == 0 %}{{locale.never_online}}{% else %}{{locale.last_visit}} <strong>{{data.player.last_online|date("d-m-Y H:i:s")}}</strong>{% endif %}</div>
                    {% endif %}
                </div>
            </div>
        </aside>

        <div class="guestbook"></div>
        <article class="default-section">
            <div class="aside-title-content">
                {{locale.guestbook_title}}
            </div>
            <div class="aside-desc-content">{{locale.guestbook_label}}</div>
            <div class="aside-content">
            {% if player %}
            <div class="form-group has-feedback">
                <input type="text"  class="rounded-input blue-active addfeedreaction" placeholder="{% if data.player.username == player.username %}{{locale.guestbook_input}} {{data.player.username}}? {% else %}{{locale.guestbook_input_1}} {{data.player.username}} {{locale.guestbook_input_2}}{% endif %}" maxlength="50">
                <!--<span class="fas fa-camera feedback" aria-hidden="true"></span>!-->
            </div>
            {% endif %}

            <style>
                a {
                    text-decoration: none;
                }
            </style>
            <div class="profile-content" style="margin-top: 20px">
                <div class="feeds">
                    {% for feed in data.player.feeds %}
                    <div class="feed-item" data-id="{{feed.id}}" id="{{feed.id}}">
                        <div class="fi-avatar logo" style="margin-right: 0;height: 60px; margin-top: -7px;">
                            <div style="background: url({{site.fpath}}?figure={{feed.look}}.&amp;direction=3&amp;headonly=1) no-repeat center; width: 48px; height: 87px;"></div>
                        </div>
                        <div class="fi-content">
                            <div class="fc-user">
                                <div class="user-style"><span class="user-style black"><span class="user-icon cog"></span><a href="/profile/{{feed.username}}">{{feed.username}}</a></span></div>
                                -
                                <span data-toggle="tooltip" data-placement="right" title="" data-original-title="{{feed.timestamp}}"><small>{{feed.timestamp}}</small></span>
                            </div>
                            <div class="fc-content">{{feed.message}}</div>
                            <div class="fc-tools" data-id="{{feed.id}}">
                                <a href="#" class="likes-count fc-like" data-id="{{feed.id}}">{{feed.likes}}</a> <a href="#" class="fc-like" data-id="{{feed.id}}" style="margin-right:10px;">
                                    <i class="fa fa-heart"  data-id="{{feed.id}}" style="color: #D67979;"></i>
                                </a>

                                {% if player.id == data.player.id %}
                                    <a href="#"><i class="fa fa-remove" data-id="{{feed.id}}" style="color: #7B7777;"></i></a>&nbsp;
                                {% else %}
                                    <a href="#"><i class="fa fa-flag" data-id="{{feed.id}}" data-report="feed" style="color: #7B7777;"></i></a>&nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <input type="hidden" name="userid" value="{{data.player.id}}">
            {% if data.player.feeds|length >= 4 %}
            <div class="load-more-button" style="margin: 0 auto;">
                <button class="rounded-button" data-id="{{data.player.id}}">{{locale.load_more}}</button>
            </div>
            {% endif %}
          </div>
        </article>
    </div>

    <div class="left-side">
        <div class="badges"></div>
        <article class="default-section" data-section="badges">
            <div class="aside-title-content">
                {{locale.badges_title}}
            </div>
            <div class="aside-desc-content">{{locale.badges_label}}</div>
            <div class="aside-content">
                <div class="items-container">
                    {% if data.player.badges %}
                        {% for row in data.player.badges %}
                        <div class="item-container">
                            <div class="item-icon pixelated" style="background-image: url({{site.cpath}}/c_images/album1584/{{row.badge_code}}.gif);"></div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>{{locale.badges_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </article>

        <div class="friends"></div>
        <article class="default-section" data-section="friends">
              <div class="aside-title-content">
                {{locale.friends_title}}
            </div>
            <div class="aside-desc-content">{{locale.friends_label}}</div>
            <div class="aside-content">
                <div class="items-container">
                    {% if data.player.friends %}
                        {% for row in data.player.friends %}
                        <a href="/profile/{{row.username}}" class="item-container">
                            <div class="item-icon pixelated" style="background-image: url({{site.fpath}}?figure={{row.look}}&direction=2);"></div>
                            <div class="item-name">{{row.username}}</div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <p>{{locale.friends_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </article>

        <div class="groups"></div>
        <article class="default-section" data-section="groups">
            <div class="aside-title-content">
                {{locale.groups_title}}
            </div>
            <div class="aside-desc-content">{{locale.groups_label}}</div>
            <div class="aside-content">
                <div class="items-container">
                    {% if data.player.groups %}
                        {% for row in data.player.groups %}
                        <a href="/hotel?room={{row.room_id}}" class="item-container">
                            <div class="item-icon pixelated" style="background-image: url({{site.cpath}}/c_images/Badgeparts/generated/{{row.badge}}.png);"></div>
                            <div class="item-name">{{row.name}}</div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <p>{{locale.groups_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </article>

        <div class="rooms"></div>
        <article class="default-section" data-section="rooms">
            <div class="aside-title-content">
                {{locale.rooms_title}}
            </div>
            <div class="aside-desc-content">{{locale.rooms_label}}</div>
            <div class="aside-content">
                <div class="items-container">
                    {% if data.player.rooms %}
                        {% for row in data.player.rooms %}
                        <a href="/hotel?room={{row.id}}" class="item-container">
                            <div class="item-icon pixelated" style="background-image: url({{site.cpath}}/camera/thumbnails/{{row.id}}.png);"></div>
                            <div class="item-name">{{row.name}}</div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <p>{{locale.rooms_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </article>
        
        <div class="photos"></div>
        <article class="default-section" data-section="photos">
            <div class="aside-title-content">
                {{locale.photos_title}}
            </div>
            <div class="aside-desc-content">{{locale.photos_label}}</div>
                <div class="aside-content">
                <div class="items-container">
                    {% if data.player.photos %}
                        {% for row in data.player.photos %}
                        <a href="{{row.url}}" class="item-container photos" target="_blank" data-title="{{row.timestamp|date("d-M H:i")}}" data-player="{{row.user_id}}" data-id="{{row.id}}">
                            <div class="item-icon pixelated" style="background-image: url({{row.url}});"></div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <p>{{locale.photos_empty}}</p>
                    {% endif %}
                </div>
            </div>
        </article>
    </div>
</div>
