<div class="widget" data-id="{{sticker.name}}" data-ids="{{sticker.id}}" data-type="{{sticker.type}}" data-skin="{{sticker.skin}}" data-top="{{sticker.y}}" data-left="{{sticker.x}}" style="position: relative; left: {{sticker.x}}px; top: {{sticker.y}}px; width: 0px">
   <img id="{{sticker.id}}-edit" data-id="{{sticker.id}}" class="icon-edit editActive" src="/assets/images/homestickers/icon_edit.gif" style="display: none"> 
   <div class="edit-menu" id="{{sticker.id}}-menu" style="position: absolute;">
      <b>Settings</b>
      <button class="deleteElement" data-type="{{sticker.type}}" data-id="{{sticker.id}}">Remove</button>
   </div>
   <div>
      <img src="/assets/images/homestickers/{{sticker.name}}">   
   </div>
</div>