{% extends "Admin/base.html" %}

{% block page %}Staff logs{% endblock %}
{% block jsfile %}stafflogs{% endblock %}

{% block body %}
 <div class="row">
    <div class="col-xl-12">
       <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
          <div class="kt-portlet__head kt-portlet__head--lg">
             <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                   Staff Logs
                </h3>
             </div>
             <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                   <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                      <div class="kt-input-icon kt-input-icon--left">
                         <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                         <span class="kt-input-icon__icon kt-input-icon__icon--left">
                         <span><i class="la la-search"></i></span>
                         </span>
                      </div>
                   </div>
                   &nbsp;
                   <div class="col-md-4 kt-tablet-and-mobile">
                      <div class="kt-form__group kt-form__group--inline">
                         <div class="kt-form__label">
                            <button class="btn btn-secondary" type="button" id="kt_datatable_reload">Reload</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="kt-portlet__body kt-portlet__body--fit">
             <!--begin: Datatable -->
             <div id="kt_datatable_staff_logs"></div>
             <!--end: Datatable -->
          </div>
       </div>
    </div>
    <div class="col-xl-12">
       <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
          <div class="kt-portlet__head kt-portlet__head--lg">
             <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                   Command Logs
                </h3>
             </div>
             <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                   <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                      <div class="kt-input-icon kt-input-icon--left">
                         <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                         <span class="kt-input-icon__icon kt-input-icon__icon--left">
                         <span><i class="la la-search"></i></span>
                         </span>
                      </div>
                   </div>
                   &nbsp;
                   <div class="col-md-4 kt-tablet-and-mobile">
                      <div class="kt-form__group kt-form__group--inline">
                         <div class="kt-form__label">
                            <button class="btn btn-secondary" type="button" id="kt_datatable_reload_command">Reload</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="kt-portlet__body kt-portlet__body--fit">
             <!--begin: Datatable -->
             <div id="kt_datatable_command_logs"></div>
             <!--end: Datatable -->
          </div>
       </div>
    </div>
 </div>
{% endblock %}