{% extends "base.html" %}
{% block body %}
        <header class="page-header flex-container flex-vertical-center">
            <div class="page-header-content">
                <h1>{{locale.create_user}}</h1>
                {{locale.header_slogan2}}
            </div>
        </header>

        <div class="page-content">
            <article class="default-section">
                    <form action="auth/registration/request" method="post" class="registration-form">
                    <div class="sides-container">
                        <div class="content-side" style="padding: 18px">
                            <div class="aside-title-content" style="padding: 0px;padding-bottom: 15px;">{{locale.title}}</div>
                            <div class="row">
                                <h5>{{locale.email}}</h5>
                                <input type="email" name="email" class="rounded-input blue-active" placeholder="{{locale.email_fill}}" autocomplete="off" autofocus required>
                            </div>
                            <div class="row space-bottom">
                                <div class="form-help">{{locale.email_help}}</div>
                            </div>
                            <div class="row">
                                <div class="column-2">
                                    <h5>{{locale.password}}</h5>
                                    <input type="password" name="password" class="rounded-input blue-active" placeholder="{{locale.password_fill}}" maxlength="32" autocomplete="off" required>
                                </div>
                                <div class="column-2">
                                    <h5>{{locale.password_repeat}}</h5>
                                    <input type="password" name="password_repeat" class="rounded-input blue-active" placeholder="{{locale.password_repeat_fill}}" maxlength="32" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="row space-bottom">
                                <div class="form-help">{{locale.password_help_1}} <strong>{{locale.password_help_2}}</strong></div>
                            </div>
                            <div class="row">
                                <h5>{{locale.birthdate}}</h5>
                                <div class="birthdate-small">
                                    <select name="birthdate_day" class="selectric">
                                        <option disabled selected>{{locale.day}}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>
                                <div class="birthdate-big">
                                    <select name="birthdate_month" class="selectric">
                                        <option disabled selected>{{locale.month}}</option>
                                        <option value="1">Januari</option>
                                        <option value="2">Februari</option>
                                        <option value="3">Maart</option>
                                        <option value="4">April</option>
                                        <option value="5">Mei</option>
                                        <option value="6">Juni</option>
                                        <option value="7">Juli</option>
                                        <option value="8">Augustus</option>
                                        <option value="9">September</option>
                                        <option value="10">Oktober</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="birthdate-small">
                                    <select name="birthdate_year" class="selectric">
                                        <option disabled selected>{{locale.year}}</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                        <option value="1969">1969</option>
                                        <option value="1968">1968</option>
                                        <option value="1967">1967</option>
                                        <option value="1966">1966</option>
                                        <option value="1965">1965</option>
                                        <option value="1964">1964</option>
                                        <option value="1963">1963</option>
                                        <option value="1962">1962</option>
                                        <option value="1961">1961</option>
                                        <option value="1960">1960</option>
                                        <option value="1959">1959</option>
                                        <option value="1958">1958</option>
                                        <option value="1957">1957</option>
                                        <option value="1956">1956</option>
                                        <option value="1955">1955</option>
                                        <option value="1954">1954</option>
                                        <option value="1953">1953</option>
                                        <option value="1952">1952</option>
                                        <option value="1951">1951</option>
                                        <option value="1950">1950</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row space-bottom">
                                <div class="form-help">{{locale.birthdate_help}}</div>
                            </div>
                            {% if referral %}
                            <div class="row">
                                <h5>Your referral:</h5>
                                <input type="text" name="referral" class="rounded-input blue-active" value="{{referral.username}}" readonly>
                            </div>
                            {% endif %}
                            {% if publickey %}
                            <div class="row">
                                <h5>Recaptcha</h5>
                                <div id="registration-recaptcha"></div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="content-side" style="padding: 18px;">
                            <div class="aside-title-content" style="padding: 0px;padding-bottom: 15px;">{{locale.create_user}}</div>
                            <div class="row">
                                <h5>{{locale.username}}</h5>
                                <input type="text" name="username" class="rounded-input blue-active username" placeholder="{{locale.username_fill}}" maxlength="15" autocomplete="off" required>
                            </div>
                            <div class="row space-bottom">
                                <div class="form-help">{{locale.username_help}}</div>
                            </div>
                            <div class="row">
                                <h5>{{locale.sex}}</h5>
                                <select name="gender" class="selectric">
                                    <option value="male">{{locale.male}}</option>
                                    <option value="female">{{locale.female}}</option>
                                </select>
                            </div>
                            <div class="avatars-container">
                                <input type="hidden" name="figure" value="hr-802-37.hd-185-1.ch-804-82.lg-280-73.sh-3068-1408-1408.wa-2001">
                                <div class="avatars-preload">
                                    {% for key,gender in looks %}
                                      {% for number,look in gender %}
                                          <img class="{{key}}-avatar{{number}} pixelated" src="{{site.fpath}}/avatarimage?figure={{look}}&amp;direction=4&amp;size=l" alt="Preload avatar M1">
                                          {{key}}
                                      {% endfor %}
                                    {% endfor %}
                                </div>
                                <div class="avatar-container">
                                    <img src="{{site.fpath}}?figure=hr-802-37.hd-185-1.ch-804-82.lg-280-73.sh-3068-1408-1408.wa-2001&amp;direction=4&amp;size=l" alt="Avatar" class="pixelated">
                                </div>
                                <div class="tabs-container">
                                    <span class="selected" data-avatar="0"></span>
                                    <span data-avatar="1"></span>
                                    <span data-avatar="2"></span>
                                    <span data-avatar="3"></span>
                                    <span data-avatar="4"></span>
                                </div>
                            </div>
                            <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                        </div>
                    </div>
                    <p style="text-align: center; margin-top: 30px; padding-bottom: 30px;"><button type="submit" class="rounded-button blue plain submit-form default-prevent" id="registration-recaptcha">{{locale.register}}</button></p>
                </form>
            </article>
        </div>
{% endblock %}
