{% extends "Admin/base.html" %}

{% block page %}Remote {{data.user.username}}{% endblock %}
{% block jsfile %}remote{% endblock %}

{% block body %}

{% if data.hotel_ranks is not defined %}
{% set disabled = 'disabled' %}
{% endif %}

<div class="row">
   <div class="col-md-12">
      <!--begin::Portlet-->
      <div class="kt-portlet">
         <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
               <h3 class="kt-portlet__head-title">
                  User Info
               </h3>
            </div>
         </div>
         <!--begin::Form-->
         <form class="kt-form" method="post" action="remote/change">
            <div class="kt-portlet__body">
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Username</label>
                  <div class="col-9">
                     <input type="text" class="form-control" name="username" value="{{data.user.username}}" disabled>
                     <input type="hidden" name="user_id" value="{{data.user.id}}" id="user_id" data-id="{{data.user.id}}">
                  </div>
               </div>
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">E-mail</label>
                  <div class="col-9">
                     {% if 'housekeeping_change_email' in permissions or 'housekeeping_ranks' in permissions %}
                     <input type="email" class="form-control" name="email" value="{{data.user.mail}}">
                     {% else %}
                     <input class="form-control" type="email" name="email" value="{{data.user.mail}}" {{disabled}}>
                     {% endif %}
                  </div>
               </div>

               {% if 'housekeeping_ranks' in permissions %}
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Rank</label>
                  <div class="col-9">
                     <select class="form-control" name="rank" required>
                        {% for ranks in data.hotel_ranks %}
                        <option value="{{ranks.id}}" {% if ranks.id == data.user.rank_id %}selected{% endif %}>{{ranks.id}} - {{ranks.rank_name}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               {% endif %}
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Rank Extra</label>
                  <div class="col-9">
                     <select class="form-control" name="extra_rank">
                        <option value="0">None</option>
                        {% for ranks in data.teams %}
                        <option value="{{ranks.id}}" {% if ranks.id == data.user.extra_rank %}selected{% endif %}>{{ranks.id}} - {{ranks.rank_name}}</option>
                        {% endfor %}
                     </select>
                  </div>
               </div>
               {% if 'housekeeping_ranks' in permissions %}
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Pincode</label>
                  <div class="col-9">
                     <input type="password" class="form-control" name="pincode" value="{{data.user.pincode}}" {{disabled}}>
                  </div>
               </div>
               {% endif %}

               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Last/Reg IP</label>
                  <div class="col-9">
                     <input type="text" class="form-control" value="{{data.user.ip_current}} / {{data.user.ip_register}}" disabled>
                  </div>
               </div>
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Last Visit</label>
                  <div class="col-9">
                     <input type="text" class="form-control" value="{{data.user.last_login}}" disabled>
                  </div>
               </div>
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Motto</label>
                  <div class="col-9">
                     <input type="text" class="form-control" name="motto" value="{{data.user.motto}}">
                  </div>
               </div>
               <div class="form-group row">
                  <label for="example-text-input" class="col-3 col-form-label">Credits</label>
                  <div class="col-9">
                     <input type="number" class="form-control" value="{{data.user.credits}}" name="credits" {{disabled}}>
                  </div>
               </div>
               <div class="form-group row">
                  {% for currency in data.user.currencys %}
                      {% if currency is not empty %}
					<label for="example-text-input" class="col-3 col-form-label">{{currency.currency}}</label>
					<div class="col-lg-9">
						<input type="number" class="form-control" value="{{currency.amount}}" name="{{currency.type}}" {{disabled}}>
						<br>
                    </div>
						 {% endif %}
	              {% endfor %}
	               </div>
            </div>
            {% if 'housekeeping_ranks' in permissions or 'housekeeping_ranks_extra' in permissions or 'housekeeping_change_email' in permissions %}
            <div class="kt-portlet__foot kt-portlet__foot--solid">
               <div class="kt-form__actions">
                  <div class="row">
                     <div class="col-3">
                        <button type="submit" class="btn btn-primary ajaxLoad">Save</button>
                     </div>
                  </div>
               </div>
            </div>
            {% endif %}
         </form>
      </div>
   </div>
   {% if type == 'messengerlogs' %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Messenger Logs 
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_messengerlogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_messengerlogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_messengerlogs"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if type == 'chatlogscompare' %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Compared Logs 
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_compare">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_compare">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_compare"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if type is empty %} 
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Clones
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_clones">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_clones">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_clones"></div>
         </div>
      </div>
   </div>
   {% if 'housekeeping_staff_logs' in permissions %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Staff logs
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_stafflogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_stafflogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <!--begin: Datatable -->
            <div id="kt_datatable_stafflogs"></div>
            <!--end: Datatable -->
         </div>
      </div>
   </div>
   {% endif %}
   {% endif %}
   {% if type == 'namelogs' or type is empty %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Username logs
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_userlogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_userlogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_userlogs"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if type == 'chatlogs' or type is empty %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Chat logs
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_chatlogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_chatlogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_chatlogs"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if type == 'commandlogs' or type is empty %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Command logs
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_commandlogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_commandlogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_commandlogs"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if type == 'tradelogs' or type is empty %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Trade logs
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_tradelogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_tradelogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_tradelogs"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if type == 'maillogs' or type is empty %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Mail logs
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_maillogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_maillogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_maillogs"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% if type == 'roomlogs' or type is empty %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Rooms
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_roomlogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_roomlogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_roomlogs"></div>
         </div>
      </div>
   </div>
   {% if type is empty %}
   <div class="col-xl-12">
      <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
         <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
               <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon2-user"></i>
               </span>
               <h3 class="kt-portlet__head-title">
                  Ban logs
               </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
               <div class="kt-portlet__head-wrapper">
                  <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                     <div class="kt-input-icon kt-input-icon--left">
                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch_banlogs">
                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                        </span>
                     </div>
                  </div>
                  &nbsp;
                  <div class="col-md-4 kt-tablet-and-mobile">
                     <div class="kt-form__group kt-form__group--inline">
                        <div class="kt-form__label">
                           <button class="btn btn-secondary" type="button" id="kt_datatable_reload_banlogs">Reload</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="kt-portlet__body kt-portlet__body--fit">
            <div id="kt_datatable_banlogs"></div>
         </div>
      </div>
   </div>
   {% endif %}
   {% endif %}
    <div id="ipremoteLogs" class="modal fade" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content" style="min-height: 590px;">
              <div class="modal-header">
                  <h5 class="modal-title"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body modal-body-fit">
                  <div id="datatableAccounts"></div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-clean btn-bold btn-upper btn-font-sm" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
</div>
{% include 'Admin/Management/tools.html' %}
{% endblock %}