{% extends "Admin/base.html" %}

{% block page %}Room control{% endblock %}
{% block jsfile %}rooms{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
        <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                    Search Rooms
                    </h3>
                </div>
            </div>

            <div class="kt-portlet__body">
                <div class="input-group">
                    <select name="element" class="form-control roomControl"></select>
                    <div class="input-group-append">
                        <button class="btn btn-primary searchRoom" type="submit">Go!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-xl-12" id="roomList">
     <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
        <div class="kt-portlet__head kt-portlet__head--lg">
           <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
              <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                 Popular Rooms
              </h3>
           </div>
           <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                 <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                       <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                       <span class="kt-input-icon__icon kt-input-icon__icon--left">
                       <span><i class="la la-search"></i></span>
                       </span>
                    </div>
                 </div>
                 &nbsp;
                 <div class="col-md-4 kt-tablet-and-mobile">
                    <div class="kt-form__group kt-form__group--inline">
                       <div class="kt-form__label">
                          <button class="btn btn-secondary" type="button" id="kt_datatable_rooms_reload">Reload</button>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
           <!--begin: Datatable -->
           <div id="kt_datatable_rooms"></div>
        </div>
     </div>
  </div>

   <div class="col-md-12" id="editRoom" style="display: none;">
      <div class="kt-portlet">
         <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
               <h3 class="kt-portlet__head-title">
                 Room Info
               </h3>
            </div>
            <div style="float: right; margin-top: 10px;">
              <button type="button" class="btn btn-secondary goBack"><i class="fa fa-undo"></i> Back</button>
            </div>
         </div>

         <form class="kt-form" id="updateRoom" method="get">
            <div class="kt-portlet__body">
               <div class="form-group row">
                  <label class="col-3 col-form-label">Room Name</label>
                  <div class="col-9">
                     <input type="text" class="form-control" name="roomName">
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-3 col-form-label">Room Description</label>
                  <div class="col-9">
                     <input type="text" class="form-control" name="roomDesc">
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-3 col-form-label">Owner</label>
                  <div class="col-9">
                     <input type="text" class="form-control" name="roomOwner" disabled>
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-3 col-form-label">Access type</label>
                  <div class="col-9">
                       <select class="form-control" name="accessType" required>
                          <option value="open">Open</option>
                          <option value="locked">Locked</option>
                          <option value="password">Password</option>
                          <option value="invisible">Invisible</option>
                      </select>
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-3 col-form-label">Max users</label>
                  <div class="col-9">
                      <input class="form-control" type="number" name="maxUsers" required>
                  </div>
               </div>
            </div>

            <div class="kt-portlet__foot kt-portlet__foot--solid">
               <div class="kt-form__actions">
                  <div class="row">
                     <div class="col-3">
                        <input type="hidden" name="roomId">
                        <button type="submit" class="btn btn-primary updateRoom">Save</button>
                     </div>
                  </div>
               </div>
            </div>
         </form>
         <!--end::Form-->
      </div>
      <!--end::Portlet-->
   </div>
    <div class="col-md-12" id="roomBans" style="display: none;">
     <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
        <div class="kt-portlet__head kt-portlet__head--lg">
           <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
              <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                 Room Bans
              </h3>
           </div>
           <div class="kt-portlet__head-toolbar">
              <div class="kt-portlet__head-wrapper">
                 <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                    <div class="kt-input-icon kt-input-icon--left">
                       <input type="text" class="form-control" placeholder="Search..." id="generalSearch_bans">
                       <span class="kt-input-icon__icon kt-input-icon__icon--left">
                       <span><i class="la la-search"></i></span>
                       </span>
                    </div>
                 </div>
                 &nbsp;
                 <div class="col-md-4 kt-tablet-and-mobile">
                    <div class="kt-form__group kt-form__group--inline">
                       <div class="kt-form__label">
                          <button class="btn btn-secondary" type="button" id="kt_datatable_roombans_reload">Reload</button>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="kt-portlet__body kt-portlet__body--fit">
           <!--begin: Datatable -->
           <div id="kt_datatable_roombans"></div>
           <!--end: Datatable -->
        </div>
     </div>
   </div>
</div>
{% endblock %}