<table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
    <tbody>
    <tr>
        <td width="100%" height="40"></td>
    </tr>
    <tr>
        <td width="100%" style="font-family:'Ubuntu',Arial,sans-serif;color:#000">
            <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                <tr bgcolor="#276691">
                    <td bgcolor="#276691" style="background-image:linear-gradient(45deg,#268c91 0%,#0f5793 100%)">
                        <table width="526" align="center" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td width="100%" height="40"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a href="{{site.domain}}/" target="_blank">
                                        <img src="https://habbofont.net/font/hma/{{site.shortname}}.gif">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" height="40"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="20"></td>
                </tr>
                <tr>
                    <td>
                        <table width="526" align="center" cellpadding="0" cellspacing="0" border="0" style="font-size:14px;line-height:1.7;text-align:left">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-family:'Ubuntu Condensed',Arial,sans-serif;font-size:26px;margin:15px 0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hey, {{username}}!</font></font></p>
                                    </td>
                                </tr>

                                <tr>
                                    {% if players is empty %}
                                    <td>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Je hebt een verzoek ingediend om je wachtwoord te veranderen op Leet Hotel.</font></font></p>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="{{url}}">Klik op deze link</a> om je wachtwoord te veranderen. De link verloopt over 2 uur, dus wees snel!</font></font></p>
                                    </td>
                                    {% else %}
                                    <td>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hier zijn al je accounts die zijn geregistreerd op Leet Hotel:</font></font></p>
                                        <p style="font-weight: bold">
                                            {% for item in players %}
                                            {{item.username}}<br>
                                            {% endfor %}
                                        </p>
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td width="100%" height="20"></td>
                                </tr>

                                <tr>
                                    <td align="center">
                                        {% if players is empty %}
                                        <a href="{{url}}" style="background-color:#257e91;border-radius:3px!important;color:#ffffff;display:inline-block;font-weight:normal;line-height:38px;margin:6px;text-align:center;text-decoration:none;padding:0 15px" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Klik hier om je wachtwoord te veranderen</font></font></a>
                                        {% else %}
                                        <a href="{{site.domain}}" style="background-color:#257e91;border-radius:3px!important;color:#ffffff;display:inline-block;font-weight:normal;line-height:38px;margin:6px;text-align:center;text-decoration:none;padding:0 15px" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Naar Leet Hotel</font></font></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" height="20"></td>
                                </tr>

                                <tr>
                                    <td>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Heb je niet om deze wijziging gevraagd? </font><font style="vertical-align: inherit;">Als dit een fout is, negeer dan dit bericht en het huidige wachtwoord blijft het zelfde.</font></font></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="100%" height="20"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">&#65279;Tot zo, </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">- Het {{site.shortname}}</font></font></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%" height="30"></td>
                </tr>
                </tbody>
            </table>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center">
                <tbody>
                <tr>
                    <td width="100%" height="20"></td>
                </tr>
                <tr>
                    <td align="center" valign="middle" style="color:#afafaf;font-size:12px;line-height:1.7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        © 2019 {{site.domain}} - Alle rechten voorbehouden. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bent u niet bekend met {{site.shortname}}, negeer dit bericht dan.
                    </font></font></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td width="100%" height="40"></td>
    </tr>
    </tbody>
</table>