{% extends "base.html" %}

{% block body %}
        <div class="page-content">
            <article class="default-section">
               <div class="aside-title-content">{{locale.title}}</div>
                <div class="aside-content">
                    <form action="password/reset/validate" method="post">
                        <h4 class="form-subcategory">{{locale.new_password}}</h4>
                        <div class="row">
                            <div class="column-2">
                                <input type="password" name="new_password" class="rounded-input darkblue-active" placeholder="{{locale.new_password_fill}}" autocomplete="off" maxlength="32" autofocus required>
                            </div>
                            <div class="column-2">
                                <input type="password" name="repeated_password" class="rounded-input darkblue-active" placeholder="{{locale.new_password_repeat_fill}}" autocomplete="off" maxlength="32" required>
                            </div>

                            <input type="hidden" name="token" value="{{token}}">

                        </div>
                        <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                        <p class="submit-button"><button type="submit" class="rounded-button darkblue">{{locale.change_password}}</button></p>
                    </form>
                </div>
            </article>
        </div>
{% endblock %}