<div class="settings-panel">
    <a href="/settings/preferences" class="preferences {% if nav == "preferences" %}selected{% endif %}" data-label="{{locale.preferences}}"></a>
    <a href="/settings/password" class="password {% if nav == "password" %}selected{% endif %}" data-label="{{locale.password}}"></a>
    <a href="/settings/verification" class="verification {% if nav == "verification" %}selected{% endif %}" data-label="{{locale.verification}}"></a>
    <a href="/settings/email" class="email {% if nav == "email" %}selected{% endif %}" data-label="{{locale.email}}"></a>
    <a href="/settings/namechange" class="changename {% if nav == "namechange" %}selected{% endif %}" data-label="{{locale.namechange}}"></a>
    <a href="/shop/history" class="history" data-label="{{locale.shop_history}}"></a>
</div>