{% extends "base.html" %}
{% set nav = "password" %}
{% block body %}
        <div class="page-content">
            <article class="default-section">

                {% include "Settings/panel.html" %}

                <h3 class="aside-title">{{locale.title}}</h3>
                <form action="settings/password/request" method="post">
                    <h4 class="form-subcategory">{{locale.password_title}}</h4>
                    <div class="row">
                        <div class="column-2">
                            <input type="password" name="current_password" class="rounded-input purple-active" placeholder="{{locale.fill_password}}" autocomplete="off" autofocus required>
                        </div>
                    </div>
                    <h4 class="form-subcategory">{{locale.newpassword_title}}</h4>
                    <div class="row">
                        <div class="column-2">
                            <input type="password" name="new_password" class="rounded-input purple-active" placeholder="{{locale.fill_newpassword}}" maxlength="32" autocomplete="off" required>
                        </div>
                        <div class="column-2">
                            <input type="password" name="repeated_password" class="rounded-input purple-active" placeholder="{{locale.fill_newpassword_repeat}}" maxlength="32" autocomplete="off" required>
                        </div>
                    </div>
                    <div class="form-help">{{locale.help}}</div>
                    <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                    <p class="submit-button"><button type="submit" class="rounded-button purple">{{locale.save}}</button></p>
                </form>
            </article>
        </div>
{% endblock %}