{% extends "base.html" %}
{% set nav = "verification" %}
{% block body %}
        <div class="page-content">
            <article class="default-section">
                
                {% include "Settings/panel.html" %}
                
                <h3 class="aside-title">{{locale.title}}</h3>
                <form action="" method="post" class="default-prevent">
                    <input type="hidden" id="verification_enabled" value="{% if auth_enabled %}{% if player.secret_key is not null %}app{% endif %}{% if player.pincode is not null %}pincode{% endif %}{% else %}{% endif %}">
                    <p>{{locale.help}}</p>

                    <h4>{{locale.password_title}}</h4>
                    <div class="row" style="margin-bottom: 30px;">
                        <div class="column-2">
                            <input type="password" name="current_password" class="rounded-input purple-active">
                        </div>
                    </div>

                    <label class="switch-label" for="enable-verification-target">
                        <span class="switch-container rounded-radio purple">
                            <input type="checkbox" name="enable_verification" id="enable-verification-target" value="{% if auth_enabled %}1{% else %}0{% endif %}" {% if auth_enabled %}checked{% endif %}>
                            <span class="switch-button"></span>
                        </span>
                        <h4 class="label-title">{{locale.auth_title}}</h4>
                        <span class="label-description">{{locale.auth_label}}</span>
                    </label>
                  
                    <div class="verification-container" style="display:none;">
                        <div class="verification-select">
                            <h4>{{locale.method_title}}</h4>
                            <select name="twosteps_login_type" class="selectric type-select">
                                <option>{{locale.method_choose}}</option>
                                <option value="pincode">{{locale.method_pincode}}</option>
                                <option value="app">{{locale.method_auth_app}}</option>
                            </select>
                        </div>
                        <div class="verification-selected" data-method="pincode" style="display:none;">
                           <h4>{{locale.pincode_title}}</h4>
                            <p>{{locale.pincode_label}}</p>
                            <div class="row">
                                <div class="column-2">
                                    <input type="password" name="twosteps_login_pincode" class="rounded-input purple-active" placeholder="{{locale.fill_pincode}}">
                                </div>
                            </div>
                        </div>
                        <div class="verification-selected" data-method="app" style="display: none">
                            <h4>{{locale.generate_auth}}</h4>
                            <p>{{locale.generate_auth_label}}</p>
                            <h5>{{locale.link_account}}</h5>
                            <p>{{locale.link_account_label}}</p>
                            <p style="text-align: center;">
                                <input type="hidden" id="twosteps_login_data_code" value="{{token}}">
                                 
                                <img src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth%3A%2F%2Ftotp%2F{{site.shortname}}%3A{{player.username}}%3Fsecret%3D{{token}}%26issuer%3D{{site.shortname}}" alt="{{site.shortname}}">
                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="csrftoken" value="{{csrf_token}}">
                    <p class="submit-button"><button type="submit" class="rounded-button purple">{{locale.save}}</button></p>
                </form>
            </article>
        </div>
{% endblock %}